
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.btn-primary {
    background-color: #7903ff;
    border-color: #380077;
}

.btn-primary:active {
    background-color: #380077;
}

.btn-primary:hover {
    background-color: #380077;
    border-color: #380077;
}

#hamburgerbtn {
    background-color: white;
}